h1 {
    color: rosybrown; font-size: 40px; font-weight: bold; 
}
u {
    text-decoration-color: black;
}

h2 {
    color: sandybrown; font-size: 20px; font-weight: lighter; font-style: oblique; text-align: center;
}

a {
    color:crimson;
}
a :hover {
    background: firebrick; color: snow;
}
